img {
  width: 100px;
  position: absolute;
  top: 100px;
  left: 100px;
}

#coin {
  height: 50px;
  width: 50px;
  mix-blend-mode: multiply;
}
#status {
  text-align: center;
  font-size: 50pt;
}
#footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
}
span {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
